.fab{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color: $primary;
	color:$white;
	border-radius:50px;
	text-align:center;

	&.fab--muted {
		transform: all .3s ease;
		
		i {
			color: $sidebar-dark-menu-item-icon-color !important;
		}

		&:hover{
			i {
				color: $primary !important;
			}
		}
	}
}